<!DOCTYPE html>
<html lang="en" lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Riffy</title>
    <link rel="stylesheet" href="../static/css/index.css">

</head>

<body>
<h1>Riffy</h1>

<div class="search_container">
    <input type="text" placeholder="Search...">
</div>

<div class="section-title">Top Authors</div>
<div class="top-authors">

</div>

<div class="section-title">Top Chart</div>
<div class="top-chart">

</div>

<div class="player">
    <div class="track-info">
        <div style="width: 50px; height: 50px; border-radius: 50%; background: grey;"></div>
        <div>
            <div>Title</div>
            <div style="font-size: 0.8rem; color: #ccc;">Author</div>
        </div>
    </div>
    <div class="controls">
        <button>&#9198;</button>
        <button>&#9654;</button>
        <button>&#9733;</button>
    </div>
</div>
</body>
</html>
